.usa-feedback {
  background-color: $census-color-orange-light;
  box-sizing: border-box;
  bottom: 1.5rem;
  font-size: 1.5rem;
  max-width: 28rem;
  padding: 1rem 1.5rem;
  position: fixed;
  right: 2.5rem;

  div {
    color: $color-black;
    font-weight: bold;
    text-decoration: none;
  }

  p {
    font-size: 1.2rem;
  }
}