body {

  .sidenav {
    @media (min-width: 951px) {
      margin-bottom: 0;
    }
  }
}

.sidenav-mobile {

  @media(min-width: $usds-medium-screen) {
    display: none;
  }

  .usa-accordion-button {
    &[aria-expanded=false] {
      background-size: 1.1rem;
    }

    &[aria-expanded=true] {
      background-size: 1.1rem;
    }
  }

  .usa-current {
    padding-left: 2.4rem;
  }

  .usa-sidenav-list {

    button {
      background-color: transparent;
      background-position: right 1rem center;
      color: #4B636E; 
      font-weight: normal;
      padding: .85rem 1rem .85rem 1.8rem;
    }

    > li {
      border-top: 1px solid #5b616b;

      &:first-child {
        border-top: 0;
      }
    }
  }

  .usa-sidenav-sub_list {

    &[aria-hidden=true] {
      display: none;
    }
  }
}

.site-header {
  background-color: $census-color-navy;
}

.site-header-navbar {
  @extend %clearfix;
  height: auto;
  padding: 0.5rem 0;

  @media(min-width: $usds-medium-screen ) {
    padding: 2rem 0;    
  }
}

.site-logo {
  margin-left: 1.5rem;

  @media(min-width: $usds-medium-screen) {
    margin-left: 3rem;
  }

  a {
    color: $color-white;
  }
}

.site-nav-secondary {
  display: none;

  @media(min-width: $nav-width) {
    background-color: $color-white;
    border-bottom: 1px solid $census-color-grey-light;
    clear: both;
    display: block;
    height: $height-nav-secondary;
    padding-left: 3rem;
    z-index: $z-nav-secondary;
  }

  ul {

    li {
      display: inline;
      padding-right: 3rem;
    }
  }

  a {
    color: $census-color-grey-dark;
    display: inline-block;
    font-size: $site-nav-font-size;
    font-weight: normal;
    letter-spacing: 0.3px;
    line-height: $height-nav-secondary;
    text-decoration: none;

    &:hover {
      color: $census-color-orange-dark;
      text-decoration: underline;
    }

    &.usa-current {
      color: $census-color-orange-dark;
    }
  }
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: -0.1rem;
}

.usa-logo-text {
  font-size: 1.75rem;

  @media(min-width: $usds-small-screen) {
    font-size: 2.25rem;
  }
}

.usa-menu-btn {
  margin-right: 1.5rem;
}

.usa-nav-close + * {
  clear: both;
}

.usa-project-stage {
  font-size: 1.5rem;
  margin-left: 0.25rem;

  .alpha {
    color: $census-color-orange-light;
  }
}
