.site-header {
  background-color: $census-color-navy;
}

.site-header-navbar {
  @extend %clearfix;
  height: auto;
  padding: 2rem 0;
}

.site-logo {
  margin-left: 1.5rem;

  @media(min-width: $usds-medium-screen) {
    margin-left: 3rem;
  }

  a {
    color: $color-white;
  }
}

.site-nav-secondary {
  display: none;

  @media(min-width: $nav-width) {
    background-color: $color-white;
    border-bottom: 1px solid $census-color-grey-light;
    clear: both;
    display: block;
    height: $height-nav-secondary;
    padding-left: 3rem;
    z-index: $z-nav-secondary;
  }

  ul {

    li {
      display: inline;
      padding-right: 3rem;
    }
  }

  a {
    color: $census-color-grey-dark;
    font-size: $site-nav-font-size;
    font-weight: normal;
    letter-spacing: 0.3px;
    line-height: $height-nav-secondary;
    text-decoration: none;

    &:hover {
      color: $census-color-orange-dark;
      text-decoration: underline;
    }

    &.usa-current {
      color: $census-color-orange-dark;
    }
  }
}

.usa-logo-text {
  font-size: 1.75rem;

  @media(min-width: $usds-small-screen) {
    font-size: 2.25rem;
  }
}

.usa-menu-btn {
  margin-right: 1.5rem;
}