// Census Colors
$census-grey: #4B636E; // nav text
$census-grey-light: #78909C;
$census-grey-lightest: #A7C0CD; // divider lines
$census-navy: #112E51; // background
$census-orange: #ff7043;
$census-orange-dark: #c25432;
$census-teal: #008393; // link color
$census-teal-light: #26C6DA;

// Census Typography
$font-sans: Roboto, Helvetica, sans-serif;

// Colors
$color-black: #000000;
$color-white: #FFFFFF;

//  Grid
$nav-width: 951px !default;
$width-nav-sidebar: 250px;
