---
# Front Matter
---

// Import THe Web Design Standards
@import "../css/uswds.min.css";
@import "variables";
@import "base/all";
@import "includes/all";
@import "layouts/all";
@import "pages/all";

.clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}