<div class="usa-nav-inner">
  <button class="usa-nav-close">
    <img src="{{ site.baseurl }}/assets/img/close.svg" alt="close">
  </button>
  <ul class="usa-sidenav-list usa-accordion">
    <li>
      <button class="usa-accordion-button" aria-controls="nav-ui-visualization-types" aria-expanded="false">
        Visualization Types
      </button>

      <ul id="nav-ui-visualization-types" class="usa-sidenav-sub_list" aria-hidden="true">
        {% for visualization_type in site.data.visualization_types %}
          {% include nav/sidebar-list-item.html name=visualization_type.name section="visualizations" %}
        {% endfor %}
      </ul>
    </li>
    <li>
      <button class="usa-accordion-button" aria-controls="nav-ui-components" aria-expanded="false">
        Components
      </button>

      <ul id="nav-ui-components" class="usa-sidenav-sub_list" aria-hidden="true">
        {% for component in site.data.components %}
          {% include nav/sidebar-list-item.html name=component.name section="components" %}
        {% endfor %}
      </ul>
    </li>
    <li>
      {% include nav/current-link.html name="References" file_path="references.md" url="references" %}
    </li>
  </ul>
</div>