<li>
  {% assign current = nil %}
  {% if page.path == 'pages/visualizations/overview.md' %}
    {% assign current = "current" %}
  {% endif %}
  <a href="{{ site.baseurl }}/visualizations" {% if current %}class="usa-current"{% endif %}>Visualization Types</a>
</li>
<li>
  {% assign current = nil %}
  {% if page.path == 'pages/visualizations/example.md' %}
    {% assign current = "current" %}
  {% endif %}
  <a href="{{ site.baseurl }}/visualizations/example" {% if current %}class="usa-current"{% endif %}>Example Viz Page</a>
</li>