{% include nav/sidebar-list-item.html name="Bar Chart" section="visualizations" %}
{% include nav/sidebar-list-item.html name="Bubble Chart" section="visualizations" %}
{% include nav/sidebar-list-item.html name="Choropleth Map" section="visualizations" %}
{% include nav/sidebar-list-item.html name="Histogram" section="visualizations" %}
{% include nav/sidebar-list-item.html name="Line Graph" section="visualizations" %}
{% include nav/sidebar-list-item.html name="Population Pyramid" section="visualizations" %}
{% include nav/sidebar-list-item.html name="Scatter Plot" section="visualizations" %}
{% include nav/sidebar-list-item.html name="Stacked Bar Chart" section="visualizations" %}
{% include nav/sidebar-list-item.html name="Treemap" section="visualizations" %}