<li>
  {% assign current = nil %}
  {% if page.path == 'pages/visualizations/overview.md' %}
    {% assign current = "current" %}
  {% endif %}
  <a href="{{ site.baseurl }}/visualizations" {% if current %}class="usa-current"{% endif %}>Visualization Types</a>
</li>
<li>
  {% assign current = nil %}
  {% if page.path == 'pages/visualizations/histogram.md' %}
    {% assign current = "current" %}
  {% endif %}
  <a href="{{ site.baseurl }}/visualizations/histogram" {% if current %}class="usa-current"{% endif %}>Histogram</a>
</li>
<li>
  {% assign current = nil %}
  {% if page.path == 'pages/visualizations/population-pyramid.md' %}
    {% assign current = "current" %}
  {% endif %}
  <a href="{{ site.baseurl }}/visualizations/population-pyramid" {% if current %}class="usa-current"{% endif %}>Population Pyramid</a>
</li>