<header class="usa-header site-header" role="banner">
  {% include banner.html %}
  <div class="site-header-navbar usa-navbar">
    <button class="usa-menu-btn">Menu</button>
    <div class="usa-logo site-logo" id="logo">
      <em class="usa-logo-text">
        <a href="{{ site.baseurl }}/" title="Home" aria-label="Home">
          {{ site.title }}
        </a>
        <span class="usa-project-stage">
          <a href="https://18f.gsa.gov/dashboard/stages/#beta" class="alpha" target="_blank">
            Beta
          </a>
        </span>
      </em>
    </div>
  </div>
</header>
<nav class="site-nav-secondary sticky">
  {% include nav/top.html %}
</nav>
<nav class="usa-nav sidenav-mobile">
  {% include nav/mobile.html %}
</nav>
<div class="usa-overlay"></div>