.axis-title-example {
  h4 {
    margin-top: 0;
  }
}

.axis-title-example-canvas {
  float: left;
  display: block;
  margin-right: 25px;
  max-width: 90px
}

.axis-title-example-desc {
  overflow: auto;
}

.axis-title-examples {
  margin-bottom: 2rem;
}