.census-color-blue {
  background-color: $census-color-blue;
}

.census-color-blue-dark {
  background-color: $census-color-blue-dark;
}

.census-color-blue-dark-text {
  color: $census-color-blue-dark;
}

.census-color-blue-darker {
  background-color: $census-color-blue-darker;
}

.census-color-blue-darker-text {
  color: $census-color-blue-darker;
}

.census-color-blue-darkest {
  background-color: $census-color-blue-darkest;
}
.census-color-blue-darkest-text {
  color: $census-color-blue-darkest;
}

.census-color-blue-light {
  background-color: $census-color-blue-light;
}

.census-color-blue-lighter {
  background-color: $census-color-blue-lighter;
}

.census-color-blue-lightest {
  background-color: $census-color-blue-lightest;
}

.census-color-grey {
  background-color: $census-color-grey;
}

.census-color-grey-dark {
  background-color: $census-color-grey-dark;
}

.census-color-grey-dark-text {
  color: $census-color-grey-dark;
}

.census-color-grey-darker {
  background-color: $census-color-grey-darker;
}

.census-color-grey-darker-text {
  color: $census-color-grey-darker;
}

.census-color-grey-darkest {
  background-color: $census-color-grey-darkest;
}

.census-color-grey-darkest-text {
  color: $census-color-grey-darkest;
}

.census-color-grey-light {
  background-color: $census-color-grey-light;
}

.census-color-grey-lighter {
  background-color: $census-color-grey-lighter;
}

.census-color-grey-lightest {
  background-color: $census-color-grey-lightest;
}

.census-color-navy {
  background-color: $census-color-navy;
}

.census-color-orange {
  background-color: $census-color-orange;
}

.census-color-orange-dark {
  background-color: $census-color-orange-dark;
}

.census-color-orange-dark-text {
  color: $census-color-orange-dark;
}

.census-color-orange-darker {
  background-color: $census-color-orange-darker;
}

.census-color-orange-darker-text {
  color: $census-color-orange-darker;
}

.census-color-orange-darkest {
  background-color: $census-color-orange-darkest;
}

.census-color-orange-darkest-text {
  color: $census-color-orange-darkest;
}

.census-color-orange-light {
  background-color: $census-color-orange-light;
}

.census-color-orange-lighter {
  background-color: $census-color-orange-lighter;
}

.census-color-orange-lightest {
  background-color: $census-color-orange-lightest;
}


.census-color-teal {
  background-color: $census-color-teal;
}

.census-color-teal-dark {
  background-color: $census-color-teal-dark;
}

.census-color-teal-dark-text {
  color: $census-color-teal-dark;
}

.census-color-teal-darker {
  background-color: $census-color-teal-darker;
}

.census-color-teal-darker-text {
  color: $census-color-teal-darker;
}

.census-color-teal-darkest {
  background-color: $census-color-teal-darkest;
}

.census-color-teal-darkest-text {
  color: $census-color-teal-darkest;
}

.census-color-teal-light {
  background-color: $census-color-teal-light;
}

.census-color-teal-lighter {
  background-color: $census-color-teal-lighter;
}

.census-color-teal-lightest {
  background-color: $census-color-teal-lightest;
}

.usa-color-inner-content {
  position: absolute;
  top: 100%;
}

.usa-color-name {
  color: $census-color-grey-dark;
  font-size: 1.25rem;
  margin: 0.1rem 0 0.75rem;
}

.usa-color-card {
  @extend %card;
  padding: 0.75rem;
}

.usa-color-card-inner {
  float: left;
  width: 25%;
}

.usa-color-card-sequence {
  @extend %card;
  margin: 0 0 3rem;
  padding: 0.75rem;
  width: 100%;
}

.usa-color-class {
  color: $census-color-grey-dark;
  font-size: 1.4rem;
  font-style: italic;
  margin: 0.5rem 0 0;
}

.usa-color-container {
  display: block;
  float: left;
  margin: 0 1.333332% 1.5rem 0;
  width: 48%;

  &:nth-child(4n) {
    margin-right: 0;
  }

  &:nth-child(5n) {
    clear: left;
  }

  @media (min-width: $small-screen) {
    margin-right: 1.333332%;
    width: 24%;
  }

  &.usa-color-card {
    padding: 0.5rem;
  }

  .usa-color-name {
    font-size: 1.25rem;
  }

  .usa-color-hover-text {
    font-size: 1.3rem;
    margin-top: 0.1rem;
  }

  .usa-color-link {
    font-size: 1.1rem;

    @media (min-width: $usds-small-screen) {
      font-size: 1.25rem;
    }
  }
}

.usa-color-heading {
  color: $census-color-grey-darker;
}

.usa-color-hover {
  opacity: 0;
  padding-top: 15%;
  position: absolute;
  visibility: hidden;
  width: 100%;

  @media (min-width: $usds-medium-screen) {
    padding-top: 10%;
  }

  .icon-copy {
    display: block;
    margin: 0 auto;
    width: 25%;

    @media (min-width: $usds-medium-screen) {
      width: 20%;
    }

    path {
      fill: $color-white;
    }
  }
}

.usa-color-hover-text {
  color: $color-white;
  display: none;
  font-weight: bold;
  margin-top: 0.5rem;
  text-align: center;

  @media (min-width: $usds-medium-screen) {
    display: block;
  }
}

.usa-color-link {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.5rem;
  margin-top: 0.5rem;
  text-decoration: none;

  @media (min-width: $usds-small-screen) {
    font-size: 1.5rem;
  }
}

.usa-color-secondary {
  color: $census-color-grey-dark;
  font-size: 1.3rem;
  margin: 0;
}

.usa-color-square {
  padding-bottom: 60%;
  position: relative;
}

.usa-color-text {

  &.usa-color-text-dark {
    color: $color-white;
    margin-bottom: 0.5rem;
    padding: 1rem;
  }
}

.usa-color-value {
  font-size: 1.35rem;
  margin: 0 0 0.25rem;
  line-height: 1.5rem;
}

.usa-color-vanity-name {
  font-size: 1.75rem;
  font-weight: bold;
  margin: 1.5rem 0 0.5rem;
}


.usa-grid-colors {
  margin-bottom: 3rem;
}

.usa-text-examples {
  font-weight: bold;
  margin-bottom: 3rem;

  &:last-child {
    margin-bottom: 2rem;
  }

  h6 {
    margin-top: 1rem;
  }

  ul {
    @extend %card;
    padding: 1rem;
  }
}