.usa-sidenav-list {
  
  a {
    color: $census-color-grey-dark;

    &:hover {
      color: $census-color-grey-dark;
      background-color: lighten($census-color-grey-light, 25%);
    }


    &.usa-current {
      border-left: 0.4rem solid $census-color-orange;
      color: $census-color-grey-dark;
    }
  }

  li {
    border-top: 1px solid $census-color-grey-light;
    font-size: 0.95em;
  }
}