.layout-components {

  .example-side-by-side {
    margin-top: 2rem;

    &:first-child {
      margin-top: 0;
    }

    @media(min-width: $usds-medium-screen) {
      float: left;
      display: block;
      margin-right: 6%;
      margin-top: 0;
      width: 47%;
    }

    &:last-child {
      margin-right: 0;
    }

    canvas {
      margin-top: 1rem;
    }

    h4 {
      margin-top: 0;
    }

    p {
      font-size: 0.9em;
    }
  }
}