.main-content {
  display: inline-block; // starting: not scrolled
  margin-top: 4rem; // starting: not scrolled
  position: relative;
  width: 100%;
  top: 0; // height of disclaimer + navbar on mobile

  @media(min-width: $nav-width) {
    padding-right: 3rem;
    width: calc(100% - #{$width-nav-sidebar});
  }

  ul {
    max-width: 77rem;
  }

  .lt-ie9 & {
    width: 75%;
  }
}

.page-guidance {

  &.guidance-always,
  &.guidance-recommended {
    
    li {
      &::before {
        background-image: url("../img/alerts/success-green.svg");
      }
    }
  }

  &.guidance-never,
  &.guidance-not-recommended {
    
    li {
      &::before {
        background-image: url("../img/alerts/warning-red.svg");
        height: 18px;
        left: -5px;
        top: 4px;
        width: 24px;
      }
    }
  }

  li {
    line-height: 2.5rem;
    margin-bottom: 1.1rem;
    padding-left: 2.5rem;
    position: relative;

    &::before {
      background-repeat: no-repeat;
      background-size: cover;
      content: "";
      display: block;
      height: 28px;
      left: -6px;
      position: absolute;
      top: 3px;
      width: 28px;
    }

    li {
      font-size: 1.6rem;
      margin-bottom: 0.25rem;
      padding-left: 0;

      &::before {
        content: none;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    ul {
      padding-left: 2rem;
    }
  }
}

.page-tags {
  margin: 0.5rem 0 1.25rem;
  
  li {
    background: $census-color-teal-dark;
    border-radius: $census-border-radius;
    color: $color-white;
    font-size: 1.2rem;
    display: inline-block;
    line-height: 2rem;
    margin-right: 1rem;
    padding: 0.25rem 1rem 0.45rem;
  }
}

.sidenav {
  @extend %sticky;
  display: none;

  @media(min-width: $nav-width) {
    display: block;
    float: left;
    margin-bottom: 525px;
    margin-top: 50px;
    padding-right: 1rem;
    padding-left: 3rem;
    overflow-y: auto;
    top: 5rem;
    width: $width-nav-sidebar;
  }

  .lt-ie9 & {
    width: 25%;
  }

  .usa-navigation-submenu {
    &[aria-hidden="false"] {
      display: block;
    }
  }
}

.site-subheading {
  font-size: 1.2rem;
  color: $census-color-grey-dark;
  display: block;
  letter-spacing: 0.5px;
  margin-bottom: 0.6rem;
  margin-top: 0;
  text-transform: uppercase;
}

.styleguide-content {
  margin-bottom: 5em;
  max-width: $site-max-width;
  position: relative;
  header > h1 {
    display: inline-block;
    margin-top: 0;
  }
}

.styleguide-content {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-bottom: 5em;
  max-width: $site-max-width;
  position: relative;

  @media (min-width: $nav-width) {
    padding-left: 3rem;
    padding-right: 3 rem;
  }

  header {
    > h1 {
      display: block;
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  section {
    > h2 {
      display: inline-block;
    }

    > .tooltip {
      margin-top: 56px;
    }
  }
}

.usa-chart-card {
  @extend %card;
  margin: 2rem 0 3rem;
  max-width: 77rem;
  padding: 1.5rem;
}

.usa-chart-header {
  margin-bottom: 2rem;
}

.usa-chart-subtitle {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
}

.usa-chart-title {
  margin: 0 0 0.25rem;
}

.usa-icon {
  display: inline-block;
  height: 1em;
  width: 1em;

  &.usa-icon-success {
    
    .background {
      fill: darken($dds-color-green, 5);
    }
  }

  &.usa-icon-warning {
    
    .background {
      fill: $usa-color-secondary-dark;
    }
  }
}

.usa-source-container {
  color: $census-color-grey-dark;
  font-size: 1.3rem;
  margin-top: 1rem;
}

.usa-viz-warning {
  background-color: lighten($usa-color-gold, 7);
  font-size: 1.5rem;
  line-height: 2.2rem;
  max-width: 550px;
  padding: 1rem 1.5rem;

  a {
    color: $color-black;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}