.main-content {
  display: inline-block; // starting: not scrolled
  margin-top: 4rem; // starting: not scrolled
  position: relative;
  width: 100%;
  top: 6.3rem; // height of disclaimer + navbar on mobile

  @media(min-width: $nav-width) {
    width: calc(100% - #{$width-nav-sidebar});
    top: 0;
  }

  .lt-ie9 & {
    width: 75%;
  }
}

.sidenav {
  @extend %sticky;
  display: none;

  @media(min-width: $nav-width) {
    display: block;
    float: left;
    margin-bottom: 525px;
    margin-top: 50px;
    padding-right: 1rem;
    padding-left: 3rem;
    overflow-y: auto;
    top: 5rem;
    width: $width-nav-sidebar;
  }

  .lt-ie9 & {
    width: 25%;
  }

  .usa-navigation-submenu {
    &[aria-hidden="false"] {
      display: block;
    }
  }
}