---
layout: default
---
<aside class="sidenav sticky">
  <ul class="usa-sidenav-list">
    {% include nav/components-sidenav.html %}
  </ul>
</aside>

<main id="main-content" class="main-content">

  <div class="styleguide-content usa-content">
    <header>
      {% if page.category != null %}
        {% unless page.path contains 'overview' %}
          <p class="site-subheading">{{ page.category }}</p>
        {% endunless %}
      {% endif %}
      <h1 id="{{ page.title | slugify }}">{{ page.title }}</h1>
      {% if page.tags != null %}
        <ul class="usa-unstyled-list page-tags">
          {% for tag in page.tags %}
            <li>{{ tag }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </header>

    {% include lead.html text=page.lead %}

    {{ content }}

    {% if page.guidance-always != null or page.guidance-recommended != null or page.guidance-not-recommended != null or page.guidance-never != null %}
      <h2>Guidance</h2>
      {% if page.components %}
        <p>
          In addition to the guidance provided in this section, relevant guidance can also be found in the
          {% for componentName in page.components %}
            <a href="{{ site.baseurl }}/components/{{ componentName | slugify}}">{{  componentName }}</a>{% unless forloop.last == true %},{% endunless %}
          {% endfor %}
          {% if page.components.size > 1 %}
            sections.
          {% else %}
            section.
          {% endif %}
        </p>
      {% endif %}
    {% endif %}

    {% if page.guidance-always != null or page.guidance-never != null %}
      <h3>Requirements</h3>
      {% include guidance.html guidanceHeading="Always" guidance=page.guidance-always %}
      {% include guidance.html guidanceHeading="Never" guidance=page.guidance-never %}
    {% endif %}
    {% if page.guidance-recommended != null or page.guidance-not-recommended != null  %}
      <h3>Recommendations</h3>
      {% include guidance.html guidanceHeading="Recommended" guidance=page.guidance-recommended %}
      {% include guidance.html guidanceHeading="Not Recommended" guidance=page.guidance-not-recommended %}
    {% endif %}
  </div>

</main>
